.firstname
    color #000000
    font-family "Myriad Pro - Light Semi Ext"
    font-size 52px
    text-align center

.surname
    color #000000
    font-family "Myriad Pro"
    font-size 61.5px
    text-align center

.proffesia
    color #000000
    font-family "Myriad Pro"
    font-size 25px
    text-align center