@import 'includes/logo/logo.styl';
@import 'includes/fio/fio.styl';

body
    margin 0
    padding 0
    margin-left 0px
    
.conteiner
    margin auto
    max-width 1122px
    min-width 600px
    margin-top 76px 
    
.column-left
    float left
    background-color lightgrey
    width 38.4%

.column-right 
    margin-left 43.7%
    background-color grey
    width 56.3%




       
