include includes/logo/logo.pug
include includes/fio/fio.pug

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            
    body
        div(class="conteiner")
            div(class="column-left")
                header
                    +head-logo
                    +head-fio

            div(class="column-right")
                div h1 EDUCATION

